/* ===========================
   ESTILO GERAL
=========================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0b0b0b;
  color: #f8d77b;
}

/* ===========================
   CABEÇALHO
=========================== */

.logo {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 3px;
}

/* ===========================
   NAVBAR
=========================== */

.navbar {
  background: #f7df06 !important;
  padding: 10px 0;
}

.navbar-nav .nav-link {
  font-size: 1.1rem;
  margin: 0 20px;
  font-weight: 600;
  color: #000 !important;
  transition: 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #8b0000 !important;
}

/* ===========================
   BANNER
=========================== */

.banner img {
  width: 100%;
  height: 500px;
  display: block;
  border-bottom: 4px solid #f8d77b;
}

/* ===========================
   CARDS DO CARDÁPIO
=========================== */

.card {
  border: none;
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

.card img {
  height: 220px;
  object-fit: cover;
}

.card-title {
  font-weight: bold;
  font-size: 1.3rem;
}

.btn-primary {
  background: #8b0000;
  border: none;
  width: 100%;
  transition: 0.3s;
}

.btn-primary:hover {
  background: #b30000;
}

/* ===========================
   LISTA DO PEDIDO
=========================== */

.lista-pedidos ul li {
  font-size: 1.1rem;
  background: #ffffff;
  color: #000;
  font-weight: 500;
}

.lista-pedidos ul li span {
  float: right;
  font-weight: bold;
}

.remove-btn {
  float: right;
  background: red;
  color: #fff;
  padding: 3px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.total-area {
  margin-top: 20px;
  font-size: 1.4rem;
  font-weight: bold;
}

